body {
    background: url(4.jpg) center/cover no-repeat fixed;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

#app {
    display: grid;
    grid-auto-rows: auto auto auto auto;
    grid-auto-columns: auto auto;
    height: 90vh;
    width: 90vw;
    color: #ffff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    justify-content:space-evenly;
}

.holder {
    margin-left: 7rem;
}

.zip {
    grid-column: 1;
    grid-row: 2;
}

.feel {
    grid-column: 1;
    grid-row: 3;
}

.generate {
    grid-column: 1;
    grid-row: 4;
    margin-top: 2rem;
}

#entryHolder {
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 0.2rem;
}

.fa-cloud {}

.entry {
    /* recent entry */
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    /* background: rgba(59, 74, 107, .4); */
    margin-right: 7rem;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
}

#temp {
    grid-column: 3;
    grid-row: 1 / span 2;
    font-size: 4rem;
}

#date {
    grid-column: 1 / span 2;
    grid-row: 2;
}


#content {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.headline {
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    grid-row: 1;
}

.title {
    text-align: center;
    font-size: 2rem;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    border-radius: 5px;
    color: #ffff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 170px;
    height: 50px;
    background: #555555;
    border-radius: 5px;
    color: #ffff;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px rgb(0, 0, 0);

}
button:hover{
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

h1 {
    font-size: 36px;
}

textarea {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    border-radius: 5px;
    color: #ffff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #ffff;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffff;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ffff;
    font-family: 'Oswald', sans-serif;

}